body {
  background: blueviolet;
}

button {
  background-color: burlywood;
  width: 150px;
  height: 70px;
}
.old {
  font-size: 100px;
  font-weight: bold;
  color: #efefd6;
  position: absolute;
  top: 500px;
  left: 1750px;
}

.natal1 {
  width: 1321px;
  height: 1333px;
  border-radius: 50%;

  background-image: url("natal1.png");
  background-size: contain;
  position: absolute;
  top: 30px;
  animation: none;
}
.containernatal {
  width: 800px;
  height: 804px;
  border-radius: 50%;
  top: 294.5px;
  left: 264.5px;

  position: absolute;
  background-color: beige;
  background-image: url("natal.png");
  background-size: contain;
}
